<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
		
	<dubbo:annotation package="org.training.dubbo.provider" />

	<dubbo:protocol name="rest" port="7777" threads="500" contextpath="services" server="tomcat" accepts="500"
					serialization="fastjson"/>

	<dubbo:protocol name="http" port="6666" server="jetty" contextpath="http"/>

	<bean id="demoService" class="org.training.dubbo.provider.DemoServiceImpl" />

	<bean id="userService" class="org.training.dubbo.provider.UserServiceImpl" />

	<dubbo:service interface="org.training.dubbo.api.DemoService" ref="demoService" protocol="http"/>

	<dubbo:service interface="org.training.dubbo.api.UserService" ref="userService"  protocol="rest"/>

</beans>
